#root,
body,
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 12px;
  color: #272727;
  box-sizing: border-box;
}
/* Collection default theme */
//===========================
// Styles for column dragging
.DragHandle {
  flex: 0 0 16px;
  z-index: 2;
  cursor: col-resize;
  color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.DragHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive,
.DragHandleActive:hover {
  color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  flex: auto;
  min-width: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sortable-hoc-item {
  position: relative;
  border-bottom: 1px solid #999;
}
.sortable-handle {
  height: 10px;
}
.stylizedList {
  position: relative;
  z-index: 0;
  /* background-color: #f3f3f3;
  border: 1px solid #efefef; */
  border-radius: 3px;
  outline: none;
}
.sortable-hoc-stylizedItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  /* background-color: #fff;
  border-bottom: 1px solid #efefef; */
  box-sizing: border-box;
  user-select: none;

  color: #333;
  font-weight: 400;
}

.helper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2),
    0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.stylizedHelper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2),
    0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize;
}
.stylizedHelper.horizontalItem {
  cursor: col-resize;
}
.stylizedHelper.gridItem {
  background-color: transparent;
  white-space: nowrap;
  box-shadow: none;
}
.stylizedHelper.gridItem .wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.ReactVirtualized__Table__headerTruncatedText {
  padding-left: 1em;
}

.ReactVirtualized__Table__rowColumn {
  min-width: 20px;
  display: flex;
  align-items: center;
  font-size: small;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
}
.SeqexecStyles-rightCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.SeqexecStyles-leftCell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ReactVirtualized__Table__Grid {
  outline: none;
}
.ReactVirtualized__Grid__innerScrollContainer {
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
